<% include header %>
<!-- 
<div id="formbox">
<form id="searchgif">
	<input id="searchbox" type="text">
   <input type="submit" id="enter" value="Enter">
</form>
</div>
<section class="cd-intro">
		<h1 class="cd-headline letters type">
			<span>Show me </span> 
			<span class="cd-words-wrapper waiting">
				<b class="is-visible">pizza</b>
				<b>sushi</b>
				<b>steak</b>
			</span>
		</h1>
	</section>
-->
 <div id="myTextArea"></div>
<!--
<div class="main clearfix">



	<form id="nl-form" class="nl-form">
		<div class="nl-field nl-ti-text">
		    <a class="nl-field-toggle">any city</a>
		    <ul>
		        <li class="nl-ti-input">
		            <input type="text" value="" placeholder="any city" />
		            <button class="nl-field-go">Go</button>
		        </li>
		        <li class="nl-ti-example">For example: <em>Los Angeles</em> or <em>New York</em></li>
		    </ul>
		  </div>
		<div class="nl-overlay"></div>
	</form>
</div>

-->

  <div class="container">
  	<div id="anigif">
		
	</div>
  </div>

<% include footer %>