<% include header %>

<div id="formbox">
<form id="searchgif">
	<input id="searchbox" type="text">
   <input type="submit" id="enter" value="Enter">
</form>

<section class="cd-intro">
		<h1 class="cd-headline letters type">
			<span>Show me </span> 
			<span class="cd-words-wrapper waiting">
				<b class="is-visible">pizza</b>
				<b>sushi</b>
				<b>steak</b>
			</span>
		</h1>
	</section>

</div>

  <div class="container">
  	<div id="anigif">
		
	</div>
  </div>

<% include footer %>