<% include header %>

<div id="formbox">
<form id="searchgif">
	<input id="searchbox" type="text">
   <input type="submit" id="enter" value="Enter">
</form>
</div>

  <div class="container">
  	<div id="anigif">
		
	</div>
  </div>

<% include footer %>